.contenedor{
  margin: 0 auto;
  width: 90%;
  display: flex;

}


.textocentro{
    text-align: center;
}

.public{
    background: rgb(228,228,228);
    color: cadetblue;
    border: 2px solid #333;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px gray;
}

.articuloquienes{
  background: rgb(228, 228, 228);
  border: 2px solid #333;
  margin: 15px 27%;
  padding: 5px 5px;
  border-radius: 5px;
  width: 50%;
}

.quienesmis{
  background: rgb(228, 228, 228);
  color: #333;
  border: 2px solid #333;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px gray;
}

.sectionquienesmis{
  margin: 0 auto;
  width: 90%;
  display: flex;
}

.titulos{
  font: bolder;
  text-align: center;
  text-decoration: solid;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.form{

  background-color: aliceblue;
  width: 80%;
  max-width: 400px;
  border-radius: 1em;
  padding: 3.5em 1.5em;
  margin: auto;
}

.formcont{
width: 100%;
display: grid;
gap: 1em;
grid-auto-columns: 100%;
}
.formtitulo {
  text-align: center;
  
}
.funcioninput{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1rem;
  padding: .8em 1em;
  border: none;
  border: 1px solid aliceblue;
  border-radius: 0.2px;

}

.funcioninput--message{
  resize: none;
  padding: 1.8em 1em;
  margin-bottom: .5em;

}

.formboton{
  font-size: 1rem;
  background-color: green;
  color: aliceblue;
  border: none;
  width: 300;
  padding: -7em 0;
  border-radius: .2em;
  cursor: pointer;
  font-weight: 400;
}


/* Estilo básico para la galería */
figure {
  margin:0;
}
#gallery {
    max-width: 60%;
    height: 50%;
    margin: auto;
    overflow: hidden;
    position: absolute;
    left: 20px;
    top: 200px;
}

.gallery-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.gallery-item {
    min-width: 100%;
    box-sizing: border-box;
}

.gallery-item img {
    width: 100%;
    display: block;
}

/* Navegación de la galería */
.gallery-navigation {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 40px);
    margin: 0 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.nav-button {
    background-color: rgba(0,0,0, .3);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.nav-button > span {
  font-size: 30px;
}
.nav-button:hover {
    background-color: #005f5f;
}


.cuadroinicio{
  background: rgb(228, 228, 228);
  color: #333;
  border: 2px solid #333;
  margin: 10px;
  padding: 10px;
  width: 50%;
  border-radius: 5px;
  box-shadow: 5px 5px gray;
  left: 600%;
 
}

.sectioncuadro{
  margin: 0 auto;
  width: 50%;
  left: 40%;
  position: relative;
}

.cuadropublicidad{
  background: rgb(228, 228, 228);
  color: #333;
  border: 2px solid #333;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px gray;
 
}

.sectionpublicidad{
  margin: 0 auto;
  width: 50%;
  
  position: relative;
}

.cuadrocontacto{
  background: rgb(228, 228, 228);
  color: #333;
  border: 2px solid #333;
  margin: 10px;
  padding: 10px;
  width: 80%;
  border-radius: 5px;
  box-shadow: 5px 5px gray;

 
}

.sectioncontacto{
  margin: 0 auto;
  width: 50%;
  left: 35px;
  position: relative;
}


.cuadrofuncion{
  background: rgb(228, 228, 228);
  color: #333;
  border: 2px solid #333;
  margin: 10px;
  padding: 10px;
  width: 80%;
  border-radius: 5px;
  box-shadow: 5px 5px gray;

 
}

.sectionfuncion{
  margin: 0 auto;
  width: 50%;

  position: relative;
}

.sectionprecios{
  margin: 0 auto;
  width: 80%;
  left: 560px;
  top: 32px;
  position: relative;
}

.sectionquehacer{
  margin: 0 auto;
  width: 80%;
  left: -80px;
  top: -250px;
  position: relative;
}

.cuadrofunciona{
  background: rgb(228, 228, 228);
  color: #333;
  border: 2px solid #333;
  margin: 10px;
  padding: 10px;
  width: 80%;
  border-radius: 5px;
  box-shadow: 5px 5px gray;

 
}

.sectionfunciona{
  margin: 0 auto;
  width: 50%;
  top: -100px;
  position: relative;
}

.cont-tarjeta{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 5rem;
  margin: 1em;
  padding: 1em;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 95%;
}


/* 
.tarjetas{
  background: rgb(47, 167, 41);
  color: #333;
  border: 2px solid #011a08;
  margin: 40px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(6, 76, 3);
  width: 25%;
  height: 250px;
}

.secciontarjeta{
  margin: 0 auto;
  width: 100%;
}


.titulotarjeta{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;

}

.botontarjeta{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 15px;
  width: 35%;
  top: 15px;
  border: 3px solid #e1ab16;
  padding: 4px 5px;
  margin: 100px 25px;
  align-items: center;
  position: relative;
}

.boton2{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 15px;
  top: 15px;
  border: 3px solid #6e5a09;
  width: 35%;
  padding: 4px 5px;
  margin: 100px 20px;
  position: relative;
}


.tarjetaspot{
  background: rgb(47, 167, 41);
  color: #333;
  border: 2px solid #011a08;
  margin-left: 35%;
  margin-top: -20%;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(6, 76, 3);
  width: 25%;
  height: 250px;
  
}


.tarjetasani{
  background: rgb(47, 167, 41);
  color: #333;
  border: 2px solid #011a08;
  margin-left: 70%;
  margin-top: -17%;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(6, 76, 3);
  width: 25%;
  height: 250px;
  
}

.tarjetasvent{
  background: rgb(47, 167, 41);
  color: #333;
  border: 2px solid #011a08;
  margin-left: 35%;
  margin-top: -20%;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(6, 76, 3);
  width: 25%;
  height: 250px;
  
}

.tarjetasemp{
  background: rgb(47, 167, 41);
  color: #333;
  border: 2px solid #011a08;
  margin-left: 70%;
  margin-top: -17%;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(6, 76, 3);
  width: 25%;
  height: 250px;
  
} */

@media (max-width:500px) {
  .form{
    padding: 3.5em 1em;
  }
}