.Cabecera {
    width: 100%;
    background-color: greenyellow;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bolder;
    background-size: auto;
    font-style: italic;

}

.Cabecera-botom{
    width: 60%;
    align-items: left;
    font-weight: bolder;
    align-self: baseline;
    justify-content: flex-end;
}

.Cabecera-lab{
    width:  50%;
}

.Cabecera-input{
    display: flex;
    flex-flow: row nowrap;
    align-items: right;
    font-weight: bolder;
    align-self: baseline;
    justify-content: flex-end;
    width:  60%;
    
}

.Cabecera-ubi{

    position: fixed;
    left: 40%;
    top: 1%;

}

body{
    background:linear-gradient(to right, #3a7bd5,#3a6073);
    font-family: "Raleway",sans-serif;
}

.center{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.center button{
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    color: #222;
    background: #f5f5f5;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;

}

.App{
    position: relative;
}

.sign{
    width: auto;
    position: absolute;
    top: 15px;
    right: 15px;
}

.sign button{
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    color: #333;
    background: #6d4cff;
    border: black 1px solid;
    cursor: pointer;
    border-radius: 3px;
    margin: 0 5px;
}